.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #333;
  text-align: center;
  padding: 20px 0;
}

p {
  color: #555;
  text-indent: 10px;
}

table {
  margin: auto;
  width: 80%;
  max-width: 600px;
  border-collapse: collapse;
}

th, td {
  padding: 15px 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  color: #333;
  text-transform: uppercase;
}

tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f4f4f4;
}
